juicy-composition > h2{
    /*width:286.563px;*/
}
juicy-composition > *{
    /*box-shadow: 0 0 10px 0 rgba(231, 173, 82, 1),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;*/
    /*background-color: #e7ad52 !important; */
    /* rgba(231, 173, 82, 1)*/
    /*color: #e7ad52 !important;*/
    /*background: #222222 !important;
    border-color: transparent !important;
    color: #222222 !important;*/

    /*color: #FFF !important;
    text-align: center !important;
    text-transform: lowercase !important;*/
}
