&lt;link rel="import" href="/sys/pikaday-decorator/pikaday-decorator.html" /&gt;
&lt;template&gt;
    &lt;<span class="hljs-name">h2</span>&gt;Product Page&lt;/h2&gt;
    &lt;<span class="hljs-name">template</span> is="dom-bind"&gt;
        &lt;<span class="hljs-name">input</span> slot="Products/id" value="{{model.ID$::input}}" placeholder="enter ID here"/&gt;
        &lt;<span class="hljs-name">input</span> slot="Products/name" value="{{model.Name$::input}}" placeholder="enter name here"&gt;
    &lt;/template&gt;
&lt;/template&gt;
