<link rel="import" href="/sys/products-chart/products-chart.html" />
<template>
    <h2 slot="Products/header">Product Page<span>!</span></h2>
    <template is="dom-bind">
        <input slot="Products/id" value="{{model.ID$::input}}" placeholder="enter ID here"/>
        <input slot="Products/name" value="{{model.Name$::input}}" placeholder="enter name here">
    </template>
    <products-chart slot="Products/chart"></products-chart>
    <template is="starcounter-composition">
        ...
    </template>
</template>
<link rel="import" href="/sys/juicy-image-carousel/juicy-image-carousel.html" />
<template>
    <juicy-image-carousel slot="Images/carousel">
        <img/>
        <img/>
        <img/>
    </juicy-image-carousel>
    <template is="starcounter-composition">
        ...
    </template>
</template>
