/** */
.reveal .absolute-center{
    position: absolute;
    top: calc(50% - 0.5em);
    text-align: center;
    width: 100%;
}
.reveal h1.absolute-center, .reveal h6.absolute-center{
    top: calc(50% - (1.3 * 0.5em));
}
pre.absolute-center{
    top: calc(50% - (1.2 * 0.5em));
}

.reveal .absolute-block{
    position: absolute;
    display: block;
    z-index: auto;
}

/* ----------------------- */

.hljs {
    overflow: hidden !important;
}
.hljs.html{
     font-size: 75%;
}

footer.twitter {
    position: absolute;
    height: 40px;
    min-width: 30px;
    min-height: 30px;
    right: 0;
    bottom: 0;
    z-index: 11;
    color: rgb(255, 255, 255);
    text-align: left;
    opacity: 0.2;
    font-size: 0.7em;
    line-height: 40px;
    padding-left: 35px;
    background: url("../images/twitter-bird-dark-bgs.png");
    background-size: 40px 40px;
    background-position: 0 center;
    background-repeat: no-repeat;
}
footer.hashtag {
    position: absolute;
    height: 40px;
    min-width: 30px;
    min-height: 30px;
    right: 0;
    bottom: 40px;
    z-index: 11;
    color: rgb(255, 255, 255);
    text-align: left;
    opacity: 0.4;
    font-size: 0.7em;
    line-height: 40px;
}

footer.twitter2 {
    position: absolute;
    height: 40px;
    min-width: 30px;
    min-height: 30px;
    right: 0;
    bottom: 0;
    z-index: 11;
    color: rgb(255, 255, 255);
    text-align: left;
    opacity: 0.2;
    font-size: 0.7em;
    line-height: 40px;
    padding-left: 35px;
    background: url("../images/twitter-bird-dark-bgs.png");
    background-size: 40px 40px;
    background-position: 0 center;
    background-repeat: no-repeat;
}
:not(ul).bad{
    color: rgb(211, 47, 47);
}
ul.bad, ul.good, ul.starcounter-list  {
   list-style: none;
   padding:0;
   margin:0;
}

.bad > li,
.starcounter-list > li {
   padding-left: 1em;
   text-indent: -.7em;
}

.bad > li:before {
   font-weight: bold;
   content: "• ";
   color: rgb(211, 47, 47);
}

ul.starcounter-list > li:before,
li.starcounter-list:before {
   font-weight: bold;
   content: "• ";
   color: #f47e0c;
}

:not(ul).good{
color: rgb(106, 168, 79);
}
.good > li {
   padding-left: 1em;
   text-indent: -.7em;
}

.good > li:before {
   font-weight: bold;
   content: "• ";
   color: rgb(106, 168, 79);
}
.good.ticks{
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.good.ticks > li:before, .bad.ticks > li:before{
    content: "✓ ";
}
.html.small{
   font-size: 70%;
}

.reveal .resizable {
    resize: both;
    overflow: auto;
    border: 1px solid rgba(255, 255, 255, 0.4);
}
.overlayed-list{
    position: absolute;
    z-index: 20;
    width: calc(100% + 2em);
    left: -1em;
    background-color: rgba(22,22,22,0.8);
}
.totop{
    height: 1em;
}
.totop + *{
    transition: top 0.5s ease-in-out;
}
.reveal section .visible.totop + *{
    top: 0 !important;
}
.toleft{
    display: inline-flex;
}
.toleft:not(.visible){
    width: 0;
}
.goodvsbad{
    display: flex;
     flex-flow:  row nowrap;
    justify-content: space-around;
    align-content: top;
    align-items: flex-start;
}
.goodvsbad > ul{
    /*border: 1px solid white;*/
    flex: 1;
}
/*-------------------------------*/
textarea {
    width: 100%;
    height: 100%;
}

textarea {
    color: #333;
    background: #f8f8f8;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    padding: 5px;
    font-family: monospace;
    font-size: 70%;
    line-height: 1.2em;
}

.css-fiddle, .iframe-fiddle {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: auto 10px minmax(1fr, max-content);
    height: calc(100% - 2em);
}
.iframe-fiddle {
    grid-template-columns: 10em 20px 1fr;
    grid-template-rows: minmax(8em, max-content)  10px minmax(1fr, max-content);
    height: calc(100% - 2em);
}
.iframe-fiddle .output{
    height: 100%;
}
.css-fiddle, .iframe-fiddle pre {
    margin: 0;
}

.html {
    grid-row: 1;
    grid-column: 1;
}

.output {
    grid-row: 1;
    grid-column: 3;
}

.css {
    grid-row: 3;
    grid-column: 1 / span 3;
    text-align: left;
}
/** non-live coding hints */
.css-fiddle .non-live-coding-hint,
.iframe-fiddle .non-live-coding-hint{
    display: none;
    font-size: 50%;
    text-align: left;
    opacity: 0.6;
    margin-top: 0.5em;
    grid-row: 4;
    grid-column: 1 / span 3;
}
.non-live-coding .css-fiddle .non-live-coding-hint{
    display: block;
}
.non-live-coding .iframe-fiddle .non-live-coding-hint{
    display: block;
    overflow: auto;
}
/* toggling */
.non-live-coding .non-live-coding-hint h3{
    cursor: pointer;
}
.non-live-coding .non-live-coding-hint > div{
    display: none;
}
.non-live-coding .non-live-coding-hint > div.visible{
    display: block;
}
/** end of hints */

.container , .grid {
    margin: 8px !important;
    text-align: left !important;
    height: calc(100% - 20px);
}

.container > * , .grid > * {
    color: #222;
    margin: 4px !important;
    padding: 2px 4px !important;
    border-radius: 10px;
}

.container >:nth-child(1) , .grid >:nth-child(1) {
    background-color: #249fab;
}

.container >:nth-child(2) , .grid >:nth-child(2) {
    background-color: #bddb59;
}

.container >:nth-child(3) , .grid >:nth-child(3) {
    background-color: #F22E8A;
}

.container >:nth-child(4) , .grid >:nth-child(4) {
    background-color: #FF0;
}

.container >:nth-child(5) , .grid >:nth-child(5) {
    background-color: #78909C;
}

.container >:nth-child(6) , .grid >:nth-child(6) {
    background-color: #555555;
}

.container >:nth-child(7) , .grid >:nth-child(7) {
    background-color: #687E1E;
}

.container >:nth-child(8) , .grid >:nth-child(8) {
    background-color: #ECEFF1;
}

.reveal code {
    padding: 2px 4px;
    border-radius: 4px;
}


/** juicy-iframe */
.output iframe{
    width: calc(100% - 30px); /* resize icon*/
    height: calc(100% - 30px); /* resize icon*/
    margin-top: 15px;
}

/** browser-support*/
.browser-support{
    font-size: 80%;
}
.browser-support td:first-child{
    text-align: left;
    white-space: nowrap;
}
.browser-support td img{
    vertical-align: middle;
    margin-right: 0.5em;
}
.browser-support code{
    display: inline-block;
    vertical-align: middle;
    color: #f8f8f2;
    background: #282a36;
}

.browser-support .supported{
    color: green;
    /*font-size: 2em;
    line-height: 1em;*/
}
.browser-support .almost-supported{
    color: yellow;
    /*font-size: 2em;
    line-height: 1em;*/
}

/** */
p.final-links {
    margin-left: 80px;
    font-size: 75%;
}

/* grids are everywhere */
.image-to-grid{
    position: absolute;
    top:0;
    display: grid;
    width: 960px;
    height: 700px;
}
.image-to-grid .image-to-grid{
    position: static;
    display: grid;
    width: 100%;
    height: 100%;
}
.image-to-grid > div{
    border: 4px solid #e7ad52; /*#F2F4F5*/

}
.image-to-grid .image-to-grid > div{
    border: 4px solid #AED2EC;
}

/** feature detection */
.reveal section .feature-detection {
    box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 0.75),
                inset  0px 0px 10px 0px rgba(255, 0, 0, 0.75);
    margin: 10px;
    padding: 1em;
    font-size: 80%;
    position: absolute;
    bottom: 0;
    width: 60%;
    text-align: left;
}
@supports( (display: grid) or (display: -ms-grid) ) {
    .feature-detection {
        display: none;
    }
}
/** vertical alighn */
.vertical-center-wrapper{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* inline code blocks*/
.hljs.inline{
    display: inline-block;
    vertical-align: middle;
}
